.dropbox

config/zsh/.zcompdump

.*_history
.*.local
.*.zwc

.local/

misc/etc/pygments/setup.py
misc/etc/pygments/styles/*.py
misc/etc/pygments/build/
misc/etc/pygments/dist/
misc/etc/pygments/*.egg-info/
